<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>

    <app-text-input [formControlName]="'username'" [label]="'Username'"/>
    <app-text-input [formControlName]="'password'" [label]="'Password'" [type]="'password'"/>
    <app-text-input [formControlName]="'confirmPassword'" [label]="'Password'" [type]="'password'"/>    
    
    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" (click)="cancel()" type="submit">Cancel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>